<div *ngIf="albums.length === 0">
  Inga album upplagda för tillfället. Återkom gärna senare!
</div>
<div class="d-flex flex-wrap">
  <mat-card class="m-3" *ngFor="let album of albums">
    <div class="discography animated fadeIn" *ngIf="album.hasImage">
      <div class="discoInfo">
        <div class="discoYear">{{album.date}}</div>
        <div>
          <div class="discoTitle">{{album.title}}</div>
          <div class="discoTrackCount"><span>{{album.trackCount}} spår</span></div>
        </div>
      </div>
      <div style="background-size: 100%" [ngStyle]="{ 'background-image': 'url(' + album.image + ')', 'width': album.width , 'height': album.height }" >
      </div>
      <div class=" d-flex discoLinks justify-content-center">
        <a href="" target="_blank" [hidden]="!album.shopUrl" [href]="album.shopUrl">
          <img class="shoppingCart" src="assets/images/shopping-cart.png" border="0" />
        </a>
        <a href="" target="_blank" [href]="album.iTunesUrl"><img src="assets/images/itunes.png" border="0" /></a>
        <a href="" target="_blank" [href]="album.spotifyUrl"><img src="assets/images/spotify-logo-32x32-no-tagline.png" border="0" /></a>
      </div>
    </div>
  </mat-card>
</div>
