.discography {
  width: 250px;
  height: 340px;
}

.discoInfo {
  height: 50px;
}

.discoTitle {
}

.discoYear {
  color: darkred;
  font-size: 0.8em;
}

.discoTrackCount {
  position: relative;
  font-size: 0.8em;
}

.discoTrackCount :first-child {
  position: absolute;
  bottom: 0;
  right: 0;
  white-space: nowrap;
}

.discoLinks {
  height: 40px;
}

.discoLinks img {
  margin-left: 10px;
  width: 24px;
}

.shoppingCart {
  border: 1px solid dimgray;
}
