<div vertical layout center>
    <b>Pressmeddelande</b><br />
    <ng-container *ngFor="let announcement of announcements">
        <a [href]="announcement.path" target="_blank">{{announcement.name}}</a><br />
    </ng-container>

  <a href="/img/130607_davidmiles.se_pressmeddelande.pdf" target="_blank">2013-06-07 David Miles Konserter sommaren 2013</a><br />
  <a href="/img/121016_davidmiles.se_pressmeddelande.pdf" target="_blank">2012-10-16 David Miles släpper nya skivan Tiden är ett jetplan!</a><br />
  <a href="/img/120625_davidmiles.se_pressmeddelande.pdf" target="_blank">2012-06-25 David Miles ger ut ny skiva hösten 2012!</a>


  <b class="pressImages">Affisch (PDF)</b>

  <div data-bind="foreach: posters">
    <mat-card>
      <a data-bind="attr: {href: url}">
        <img data-bind="attr: {src: thumb}">
      </a>
    </mat-card>
  </div>

  <b class="pressImages">Pressbilder</b>

  <div data-bind="foreach: images">
    <mat-card>
      <a data-bind="attr: {href: url, 'data-title': downloadLink}" data-lightbox="image-1" data-title="">
        <img data-bind="attr: {src: thumb}">
      </a>
    </mat-card>
  </div>
</div>
