<div vertical layout center>
  <div *ngIf="announcements.length > 0">Pressmeddelande</div>
  <ng-container *ngFor="let announcement of announcements">
    <a [href]="announcement.path" target="_blank">{{announcement.name}}</a><br />
  </ng-container>


  <div *ngIf="posters.length > 0" class="pressImages">Affisch (PDF)</div>
  <div class="d-flex flex-wrap">
    <mat-card *ngFor="let poster of posters">
      <a [href]="poster.download_url" target="_blank">
        <img [src]="poster.thumbnail" />
      </a>
    </mat-card>
  </div>

  <app-images-component [imagesPath]="url" [showThumbnails]='true'></app-images-component>

</div>
