<div>

  <p>
    David Miles är en låtskrivare, gitarrist och sångare uppvuxen i Göteborg men numera bosatt i Malmö.
    Han har gett ut 3 skivor sedan 2008.
    Den senaste skivan <a href="http://open.spotify.com/album/5nrPJLz8D9BAwBkUYyISWi">Tiden är ett jetplan</a> gavs ut hösten 2012.
  </p>

  <p>
    2011 hade David en radiohit med låten <a href="http://open.spotify.com/album/5RyzFjnNSYWYHdP5Nn9SDp">Det är bara så det är</a>.
  </p>

  <p>
    Många krogar, restauranger, eventbolag mm bokar David som trubadur. Efter flera år som flitig underhållare på uteserveringar och pubar runt om i landet är han med sitt genuina och äkta sound alltid mycket omtyckt.
  </p>

  <p>
    David medverkar även i <a href="" data-bind="click:goToPodcast">podcasten Sjöwall & Miles</a> där det släpps ett nytt avsnitt ungefär en gång i månaden.
  </p>

  <div class="media">
    <img class="mr-3" src="assets/images/spelplan.jpg"/>

    <img  src="assets/images/press/david_press_7_medium.jpg"/>
  </div>

  <div class="d-flex justify-content-center">
    <div class="p-4">
      <a href="http://www.facebook.com/pages/David-Miles/155341767874341" target="_blank"><img src="assets/images/facebook.jpeg" border="0"></a>
    </div>
    <div class="p-4">
      <a href="http://open.spotify.com/artist/4z4NwEHgD7Ykjs1L0gsKCI" target="_blank"><img src="assets/images/spotify-logo-32x32-no-tagline.png" border="0"></a>
    </div>
    <div class="p-4">
      <a href="https://itunes.apple.com/us/artist/david-miles/id304549972" target="_blank"><img src="assets/images/itunes.png" border="0"></a>
    </div>
  </div>
</div>

