<div>
  <div class="marginBottom">
    Kontakta David Miles på
    <div>
      E-post: <a href="mailto:david@davidmiles.se">david@davidmiles.se</a>
    </div>
    <div>
      Telefon: <a href="tel:0706-979604">0706-979604</a>
    </div>
  </div>

 <img src="assets/images/press/david_press_18.jpg">


  <div class="marginBottom" >
    Kontakta skivbolag på
    <div><a href="http://www.hansarenmusik.se" target="_blank">www.hansarenmusik.se</a></div>
  </div>

  <div horizontal layout class="marginBottom d-flex">
    <div>Sidan är skapad av </div>
    <a class="spaced" href="https://se.linkedin.com/in/johanfrick">Johan Frick</a>
  </div>

  <div horizontal layout>
    <div>Administatör: </div>
    <!--<a class="spaced" href="" data-bind="click: login, visible: !isLoggedIn()">Logga in</a>
    <a class="spaced" href="" data-bind="click: logout, visible: isLoggedIn()">Logga ut</a>-->
  </div>
</div>
