<div>
  <div class="mb-2">
    Kontakta David Miles på
    <div>
      E-post: <a href="mailto:david@davidmiles.se">david@davidmiles.se</a>
    </div>
    <div>
      Telefon: <a href="tel:0706-979604">0706-979604</a>
    </div>
  </div>
  <div>
  <mat-card style="display: inline-block" class="mb-2">
    <img src="assets/images/press/david_press_18.jpg">
  </mat-card>
  </div>
  <div class="mb-2">
    Kontakta skivbolag på
    <div><a href="http://www.hansarenmusik.se" target="_blank">www.hansarenmusik.se</a></div>
  </div>

  <div class="mb-2 d-flex">
    <div>Sidan är skapad av</div>
    <a class="ml-1" href="https://se.linkedin.com/in/johanfrick">Johan Frick</a>
  </div>

  <div>
    Administratör: <a class="href" *ngIf="!isLoggedIn" routerLink="/login">Logga in</a>
    <a class="href" *ngIf="isLoggedIn" (click)="logout()">Logga ut</a>
  </div>
</div>
