<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="mobileQuery.matches">
      <mat-icon>menu</mat-icon>
    </button>
    <img id="loggedInLogo" src="assets/images/guitar-burning.gif" *ngIf="isLoggedIn">
    <img class="" src="assets/images/drawer_photo.jpg"/>
    <img class="logo ml-4 mt-4 mb-3" src="assets/images/logo.png"/>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="opened"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <div class="sidebar-offcanvas" id="sidebar" role="navigation">
        <div><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Hem</a></div>
        <div><a routerLinkActive="active" routerLink="/om">Om</a></div>
        <div><a routerLinkActive="active" routerLink="/spelplan">Spelplan</a></div>
        <div><a routerLinkActive="active" routerLink="/kontakt">Kontakt</a></div>
        <div class="menu-header text-primary">ARTISTEN</div>
        <div><a routerLinkActive="active" routerLink="/discografi">Discografi</a></div>
        <div><a routerLinkActive="active" routerLink="/video">Video</a></div>
        <div><a routerLinkActive="active" routerLink="/texter">Texter</a></div>
        <div><a routerLinkActive="active" routerLink="/recensioner">Recensioner</a></div>
        <div><a href="http://davidmiles.tictail.com/" target="_blank">Shop</a></div>
        <div><a routerLinkActive="active" routerLink="/press">Press</a></div>
        <div><a routerLinkActive="active" routerLink="/artist-bilder">Bilder</a></div>
        <div class="menu-header text-primary">TRUBADUREN</div>
        <div><a routerLinkActive="active" routerLink="/trubadur-bilder">Bilder</a></div>
        <div><a routerLinkActive="active" routerLink="/trubadur-referencer">Referenser</a></div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
