<div class="container main">
  <div class="navbar navbar-default fixed-top">
    <div class="container mainnav">
      <div class="navbar-header">
        <div class="media">
          <img class="" src="assets/images/drawer_photo.jpg"/>
          <img class="logo ml-4 mt-4 mb-3" src="assets/images/logo.png"/>
        </div>
      </div>
    </div>

  </div>
</div>
  <div class="container maincontent">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Hem</a><br />
        <a routerLinkActive="active" routerLink="/om">Om</a><br />
        <a routerLinkActive="active" routerLink="/spelplan">Spelplan</a><br />
        <a routerLinkActive="active" routerLink="/kontakt">Kontakt</a><br />
        ARTISTEN<br />
        <a routerLinkActive="active" routerLink="/discografi">Discografi</a><br />
        <a routerLinkActive="active" routerLink="/video">Video</a><br />
      </div>

      <div class="col-xs-12 col-sm-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>







