@import "~styles/variables";
@import "~bootstrap/scss/bootstrap";

.container {
  max-width: 900px;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
}

.main,
.mainnav,
.navbar {
  padding: 0;
}

.navbar {
  height: 128px;
}

#sidebar {
  height: 100%;
  width: 128px;
  overflow-y: auto;

  div {
    text-indent: 30px;
    a {
      color: $body-color;
      line-height: 28px;
    }
    a.active {
      color: $primary;
    }
  }
}

.main-content {
  margin-top: 127px;
}

#loggedInLogo {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.9;
  border: 1px solid black;
  width: 30px;
  height: 30px;
}

.logo {
  width: 300px;
  max-width: 60%;
}

.menu-header {
  @include gradient-x($start-color: $body-bg, $end-color: white, $start-percent: 0%, $end-percent: 100%)
}
