/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.1em;
  color: dimgray;
  height: 100%;
  background-color: #d6d6d6;
}

a:link, a:visited, a:hover, a:active {
  color: darkred;
  text-decoration: none;
}

.href {
  color: darkred!important;
  cursor: pointer;
}

.container {
  max-width: 900px;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
}

.musicServices img {
  margin: 20px;
}

.main,
.mainnav,
.navbar {
  padding: 0px;
}

.navbar {
  height: 128px;
}

#sidebar {
  height: 100%;
  overflow-y: auto;
  padding-left: 30px;
}

#sidebar > a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: dimgray;
  line-height: 28px;
}

#sidebar > a.active,
.red {
  color: darkred;
}

.maincontent {
  margin-top: 127px;
}

.logo {
  width: 300px;
  max-width: 60%;
}

.bold {
  font-weight: bold;
}

.marginBottom {
  margin-bottom: 10px;
}

.marginTop {
  margin-top: 10px;
}

.discography {
  width: 250px;
  height: 340px;
}

.discoInfo {
  height: 50px;
}

.discoTitle {
}

.discoYear {
  color: darkred;
  font-size: 0.8em;
}

.discoTrackCount {
  position: relative;
  font-size: 0.8em;
}

.discoTrackCount :first-child {
  position: absolute;
  bottom: 0;
  right: 0;
  white-space: nowrap;
}

.discoLinks {
  height: 40px;
}

.discoLinks img {
  margin-left: 10px;
  width: 24px;
}

.shoppingCart {
  border: 1px solid dimgray;
}

.redBackground {
  background: #FFC9C9;
}




