/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, .mat-card {
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  font-size: 1.1em;
  color: dimgray !important;
  height: 100%;
  background-color: #d6d6d6;
}

a:link, a:visited, a:hover, a:active {
  color: darkred;
  text-decoration: none;
}

.red {
  color: darkred;
}

.href {
  color: darkred!important;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.redBackground {
  background: #FFC9C9;
}
