<div>
  <div class="quote">
    <div class="quoteText">
    ”Vi på fredag eventbyrå har haft David Miles som trubadur vid ett flertal tillfällen, och är supernöjda. En härlig personlighet, och en bred repertoar som förgyller de flesta tillställningar.”
    </div>
    <div class="quoteSource">
    Marcus Wennergren - Fredag eventbyrå
    </div>
  </div>

  <div class="quote">
    <div class="quoteText">
    ”David är en grymt duktig trubadur som alltid får publiken med sig. Dessutom är han väldigt bra och lätt att jobba med!”
    </div>
    <div class="quoteSource">
    Samuel Carlsson - barchef Kings Hill Falkenberg och Kungsbacka
    </div>
  </div>
</div>
